{% extends "base.html" %}

{% block content %}
    
<style>
	body {
        background-image: url('{{ url_for("static", filename="backgrounds/login.jpg")}}');
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover; 
	}
    .title {
        font-weight: 600;
    }
    .input-field {
        font-weight: 600;
    }
</style>
    <!-- Register Card -->
    
    <div class="row valign-wrapper" style="height: 85%; ">
        <div class="col  s12 m8 l6 offset-l3 offset-m2  ">
            <div class="card big  white">
                <div class="card-content white-text">
                    <h4 class=" title center-align  deep-orange-text" >RESET PASSSWORD</h4>
                
                    <!-- Login Form -->
                    <div class="row">
                        <form class="col s12" action="" method="POST" >
                            <!-- CRSF Token -->
                            {{ form.hidden_tag() }}

                               <!-- Password -->
                        <div class="row">
                            <div class="input-field col s6">
                                {{ form.password.label }}
                                {{ form.password(size=32, class="validate") }}
                                {% for error in form.password.errors %}
                                <span style="color: red;">{{ error }}</span>
                                {% endfor %}
                            </div>

                            <div class="input-field col s6">
                                {{ form.confirm.label }}
                                {{ form.confirm(size=32, class="validate") }}
                                {% for error in form.confirm.errors %}
                                <span style="color: red;">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                            
                        
         
                            <!-- Sumbit Button -->
                            <div class="row" >
                                <div class="col s6">
                                    {# Redirect to register #}
                                    <a href="{{ url_for('auth.register')}}" class=" btn-flat left waves-effect waves-teal flow-text">Create An account</a>
                                </div>

                                <div class="col s6">
                                    <button class="btn flow-text waves-effect waves-light cyan flow-text right" name="sumbit" type="submit">Submit<i class="material-icons right">send</i></button>
                                </div>                                

                            </div>
                        </form>
                    </div>    
                </div>
            </div>
        </div>
    </div>
   

    

{% endblock %}